[Unit]
Description=Pi Sound Board
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python -m pisound
Restart=on-abort

[Install]
WantedBy=multi-user.target